{
  "project_info": {
    "project_number": "1009210681942",
    "project_id": "nature-link-abd07",
    "storage_bucket": "nature-link-abd07.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "replace-with-android-app-id",
        "android_client_info": {
          "package_name": "com.successhub2026.android"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "replace-with-restricted-android-api-key"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
